@model TNClubs.Models.GroupMember

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GroupMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-artistGroupId="@ViewBag.ArtistGroupId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtistIdGroup" class="control-label"></label>
                <select asp-for="ArtistIdGroup" class ="form-control" asp-items="ViewBag.ArtistIdGroup"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArtistIdMember" class="control-label"></label>
                <select asp-for="ArtistIdMember" class ="form-control" asp-items="ViewBag.ArtistIdMember"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateJoined" class="control-label"></label>
                <input asp-for="DateJoined" class="form-control" />
                <span asp-validation-for="DateJoined" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLeft" class="control-label"></label>
                <input asp-for="DateLeft" class="form-control" />
                <span asp-validation-for="DateLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
